figure6.key
detritus
figure1.key
figure3.key
abm-selected-districts.pdf
abm-selected-districts.png
agent-bias.pdf
agent-bias.png
cropland2007-bias.tex
cropland2011-bias.tex
cropland_adj_bias_map2.pdf
cropland_bias_main.pdf
cropland_bias_region.pdf
cropland_bins.pdf
et_bias_map.pdf
et_bias_map4.pdf
figure1.pdf
figure3.pdf
figure6.pdf
figure_luc.png
lai_seasonal_cycles.png
md_map.pdf
prod_bias_map.pdf
carbon_bias_map.pdf
carbon_veg_scale_nd.pdf
carbon_veg_scalew.pdf
ygap-spat-bias.tex
yield_prod_bias.pdf
yld_bias_map.pdf
biases_md_lnorm_gam_mu0.pdf
C-bias-accuracy.tex
bias_map.pdf
biases_1-100km.pdf
biases_1km.pdf
cropadj-bias-accuracy.tex
totC-bias.tex
yldprod-bias.tex
distribution.pdf
histogram-eps-converted-to.pdf
histogram.eps
carbon_veg_scalew.svg
location_offset.pdf
yield_prod_bias_agric.pdf
