figure1.key
biases_magdist.pdf
biases_magdist_med.pdf
biases_magdist_med0.pdf
biases_magdist_no0.pdf
biases_md_lnorm_gam_mu.pdf
cropland2007-bias.tex
cropland2011-bias.tex
histogram-eps-converted-to.pdf
ygap-spat-bias.tex
yield_prod_bias_agric.pdf
