main.aux
main.log
main.out
main.synctex(busy)
SI.aux
SI.bbl
SI.blg
SI.log
SI.synctex.gz
main.bbl
main.blg
main.synctex.gz
main_submission.aux
main_submission.bbl
main_submission.blg
main_submission.log
main_submission.out
main_submission.synctex.gz
short-summary.docx
GCB-17-0650.docx
