PNASTMPL copy.TEX
PNASTMPL copy.aux
PNASTMPL copy.bbl
PNASTMPL copy.blg
PNASTMPL copy.log
PNASTMPL copy.pdf
PNASTMPL copy.synctex.gz
app_s1.aux
app_s1.log
app_s1.synctex.gz
main.aux
main.bbl
main.blg
main.log
main.synctex.gz
main_word.aux
main_word.bbl
main_word.blg
main_word.doc
main_word.log
main_word.pdf
main_word.rtf
main_word.synctex.gz
main_word.tex
